@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    @apply m-0 h-full p-0;
  }

  html {
    @apply bg-slate-200 font-mono text-gray-800 dark:bg-slate-950 dark:text-gray-200;
  }

  #app {
    @apply grid place-items-center p-8;
  }
}

@layer components {
  .btn {
    @apply block cursor-pointer rounded bg-teal-600 px-4 py-2 text-white
      hover:bg-teal-700
      focus:outline-none focus:ring-2 focus:ring-teal-400
      focus:ring-offset-2 disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50
      dark:focus:ring-offset-gray-800;
  }

  .form {
    @apply w-full max-w-[600px] rounded-lg border border-gray-400 p-10 dark:border-gray-600;
  }

  .title {
    @apply text-center text-3xl font-medium leading-6 text-gray-700 dark:text-gray-200;
  }

  .legend {
    @apply block text-center text-lg font-medium text-gray-700 dark:text-gray-200;
  }

  .label {
    @apply block text-sm font-medium text-gray-700 dark:text-gray-200;
  }

  .inline-label {
    @apply text-sm font-medium text-gray-700 dark:text-gray-200;
  }

  .field {
    @apply mt-3 w-full rounded border border-gray-400 bg-transparent px-4 py-2 text-center transition last:mb-0 hover:ring-2 hover:ring-teal-400 focus:outline-none focus:ring-2 focus:ring-teal-400 dark:border-gray-600;
  }

  .radio {
    @apply mr-2 h-4 w-4 border-gray-300 text-teal-600 focus:ring-teal-500;
  }

  .checkbox {
    @apply mr-2 h-4 w-4 rounded border-gray-300 text-teal-600 focus:ring-teal-500;
  }

  .error {
    @apply !border-red-500;
  }

  .errorMessage {
    @apply py-3 text-center text-red-500;
  }
}
